.popupWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    z-index: 1;
}

.popup {
    background: white;
    padding: 100px;
}